* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navbar {
  display: flex;
  background-color: gray;
  border-bottom: 3px solid black;
  width: 100%;
  height: 50px;
}
.navbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  margin: auto;
  gap: 250px;
  color: aqua;
}
.navbar ul li a {
  text-decoration: none;
}

.card-container {
  display: flex;
  gap: 10px;
  justify-content: center;
  /* margin: 2px; */
  flex-wrap: wrap;
  margin-top: 50px;
}
.card {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 18%;
  height: 30%;
  border: 3px solid white;
  background-color: gray;
}
.card img {
  width: 95%;
  margin-bottom: 10px;
}
.card .card-button {
  margin: 10px;
  background-color: coral;
  padding: 5px;
  height: 50px;
  border-radius: 10px;
  border: none;
}

.goals-explanation {
  border: 2px solid black;
  margin: 50px;
  padding: 10px;
  line-height: 30px;
  border-radius: 20px;
}

.goals-explanation span {
  font-weight: bold;
}
